.score {
    text-align: center;
    text-align: -webkit-center;
    align-content: center;
}

.battlefield {
    text-align: center;
    text-align: -webkit-center;
    align-content: center;
    margin-top: 30px;
}