.Area {
    width: 60%;
    border: 4px double white;
    height: 200px;
}

.playerOne {
    margin: 10px;
    float: left;
    border: 2px solid darkorange;
    width: 125px;
    height: 130px;
    margin-top: -15px;
}

.playerTwo {
    float: right;
    margin: 10px;
    border: 2px solid slategray;
    width: 125px;
    height: 130px;
    margin-top: -15px;
}

.ComputerOne {
    margin: 10px;
    float: left;
    border: 2px solid slategray;
    width: 125px;
    height: 130px;
    margin-top: -15px;
}


.fieldPlayer {
    color: darkorange
}

.fieldComputer {
    color: slategray
}