body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: antiquewhite;
  border: 5px solid black;
  margin:80px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
